{{#each questions}}
  <p>{{this.question}}</p>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="option1" checked> Active
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option2"> Radio
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option3"> Radio
    </label>
  </div>
{{/each}}

