<div class="jumbotron header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="/assets/images/driftLogo.jpg" class="img-thumbnail float-left" alt="Drift Logo">
            </div>
            <div class="col-md-10">
                <h2 class="text-center">Prevent Employee turnover - Catch their Drift!</h2>
                    <h1 class="text-center">---</h1>
                    <p class="h1 text-center">About Us</p>
            </div>
        </div>
    </div>

    <div class="container m-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="grey-bg navlnk">
                        <h4>Services We Provide</h4>
                        <ul>
                            <li>
                                Collaborative Input
                            </li>
                            <li>
                                Engaged Teamwork
                            </li>
                            <li>
                                Customized Questions
                            <li>
                                Data Tracking
                            </li>
                            <li>
                                Customized Input/Output
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="grey-bg admincont">
                        <h3>Who We Are</h3>
                        <p>We are a small business whose backgrounds are working in small businesses. We understand
                            costs associated with retraining new employees due to high turnover. We work with
                            smallcbusinesses to reach out to their employees to engage in moving forward together.

                            <p>We integrate questions based on your business needs. Reach out to us. Our programs are
                                affordable, our questions are comprehensive and, much like our motto, we catch your
                                drift!</p>
                            <h3>Our People</h3>
                            <p>Sam Delay - Programming Lead: Specializes in backend programming. Sam's great attention
                                to detail drives our
                                business. Loves coffee</p>

                            <p>Walter Hoerman - Senior Program Developer: Specializes in frontend programming. Great at
                                graphics and design. The
                                Good Doctor has revived us many times!</p>

                            <p>Brian Lipsett - Senior Program Developer: Specializes in merging front and backend
                                programming together to provide
                                seamless service integration</p>

                            <p>Tania Moore - Frontend Developer: Specializes in language, wording and integrating small
                                business needs to our
                                questions.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="grey-bg admin-question">
                        <br>
                        <span>
                            <h3 class="text-center">What our customers have to say about our service</h3>
                        </span>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">

                                    <p><b><i>Mike Fearnley:</b></i>
                                        "Without Drift I would have drowned!"</p>
                                </div>
                                <div class="col-sm-4">
                                    <p><b><i>Bobby Hoffman:</i></b> "I originally went with another company and all my
                                        employees quit. I called
                                        Sam to see if there was something we could work out. Dr. Hoerman spoke with my
                                        former employees and
                                        convinced them to come back.</p>
                                </div>
                                <div class="col-sm-4">
                                    <p><b><i>Scott Byers:</i></b>"Drift saved me. I was able to let go of 2
                                        under-performing teachers assistants
                                        and retain 2 and increase their pay. Students are now back on track and our
                                        courses are going smoothly."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>