<div class="jumbotron header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="../public/assets/images/driftlogo.jpg" class="img-thumbnail float-left" alt="Drift Logo">
            </div>
            <div class="col-md-8">
                <h1 class="display-2">Management</h1>
                <p class="h2">Prevent Employee turnover - Catch the Drift!</p>
            </div>
        </div>
    </div>