<div class="jumbotron header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="/assets/images/driftlogo.jpg" class="img-thumbnail float-left" alt="Drift Logo">
            </div>
            <div class="col-md-10">
                <h2 class="text-center">Prevent Employee turnover - Catch their Drift!</h2>
                <h1 class = "text-center">---</h1>
                <p class="h1 text-center">Instructions</p>
            </div>
        </div>
    </div>

    <div class="container m-2">
        <H4>Employees:</H4>
        <p>Your email must be registered by your employer before you can login. Once approved, when you log in you
            will be on your personal profile page. On this page buttons will give you options. You can display
            message you have written previously. You can read messages from your emplyer. You can also post a
            new message that will only go to your employer.
        </p>
        <H4>Owners:</H4>
        <p>Once you have set up your company through the form on the intial page, you can login to your managers page.
            You will be able to display your messages from employees, generate questions for your emplyees, and to
            send messages to your employees.
        </p>
    </div>
</div>