<div class="jumbotron header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="./assets/images/driftlogo.jpg" class="img-thumbnail float-left" alt="Drift Logo">
            </div>
            <div class="col-md-8">
                <h1 class="display-2">DRIFT</h1>
                <p class="h2">Prevent Employee turnover - Catch the Drift!</p>
                <p class="h3">Instructions</p>
            </div>
        </div>
    </div>

    <div class="container m-2">
        <p>(here is where we will write the instructions)</p>
    </div>
</div>