body {
    background: url("../images/GreatWaveoffKanagawa.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    flex: content;
  }

.container .user {
  background-color: white;
  padding: 2em;
  margin-top: 1.5em;
}

.container {
  margin-top: 1.5em;
  margin-bottom: 4em;
}

.sideNav {
  min-height: 40em;
}

.display {
  min-height: 40em;
}

a.btn {
  margin-bottom: 2em;
}

nav.navbar {
  background-color: #7fafab !important;
  min-height: 4em !important;
}

i {
  margin-right: 1em;
  color: blue;
  cursor: pointer;
}

@media screen and (max-width: 575px) {

  .display {
    min-height: 0em;
  }

  .sideNav {
    min-height: 0em;
  }
}