body {
    background: url("../images/GreatWaveoffKanagawa.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    flex: content;
  }

.container .user {
  background-color: white;
  padding: 2em;
  margin-top: 1.5em;
}

.sideNav {
  min-height: 40em;
}

.display {
  min-height: 40em;
}

button {
  margin-bottom: 2em;
}